<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Articles</title>
</head>
<body>
shift + cmd + f9 : 리컴파일
  <!-- Header -->
  <header id="header"></header>
  <!-- Main -->
  <Main>
    <header>
      <h1>첫번째 글</h1>
    </header>
    <aside>
      <p>첫글</p>
      <p>java</p>
      <p>jsun</p>
      <p>2024-10-30</p>
    </aside>
    <section>
      <p>본문<br><br></p>
      <div>
        <form>
          <label for="articleComment">댓글</label>
          <textarea id="articleComment" placeholder="댓글쓰기.." rows="3"></textarea>
          <button type="submit">입력</button>
        </form>
        <ul>
          <li>
            <div>
              <time><small>2022-01-01</small></time>
              <strong>Uno</strong>
              <p>lorem lorem lorem lorem lorem lorem</p>
            </div>
          </li>
          <li>
            <div>
              <time><small>2022-01-01</small></time>
              <strong>Uno</strong>
              <p>lorem lorem lorem lorem lorem lorem</p>
            </div>
          </li>
          <li>
            <div>
              <time><small>2022-01-01</small></time>
              <strong>Uno</strong>
              <p>lorem lorem lorem lorem lorem lorem</p>
            </div>
          </li>
        </ul>
      </div>
      <nav class="page-pagination" role="navigation">
        <a class="page-previous" href="#"> 이전글</a>
        <a class="page-previous" href="#">다음글</a>
      </nav>
    </section>
  </Main>
  <!-- Footer -->
<footer id="footer"></footer>

</body>
</html>